@tailwind base;

@layer base {
    :root {
        .grad-1 {
            background: radial-gradient(
                    circle at 10% 20%,
                    rgba(233, 81, 26, 0.15),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 20% 70%,
                    rgba(55, 55, 241, 0.15),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 80% 20%,
                    rgba(138, 0, 156, 0.13),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 80% 90%,
                    rgba(156, 31, 0, 0.1),
                    transparent,
                    transparent
                );
        }
    }

    .dark {
        .grad-1 {
            opacity: 0.8;
            background: radial-gradient(
                    circle at 10% 20%,
                    rgba(55, 55, 241, 0.15),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 20% 70%,
                    rgba(233, 81, 26, 0.15),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 80% 20%,
                    rgba(138, 0, 156, 0.2),
                    transparent,
                    transparent
                ),
                radial-gradient(
                    circle at 80% 90%,
                    rgba(0, 29, 156, 0.2),
                    transparent,
                    transparent
                );
        }
    }
}
